<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    Чепионат по компетенции "Разработка программного продукта с использованием блокчейн технологий"
</div>
<div>
    <form action="/login" method="post">
        <div>
            <input name="login" placeholder="Login"/>
        </div>
        <div>
            <input name="password" placeholder="Password"/>
        </div>
        <button>Enter</button>
    </form>
</div>
</body>
</html>